#Files
*.lof
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.lot
*.fls
*.out
*.toc
*.pdf
Autocommit.sh
*.slxc
*.autosave
*.fig
!/Reports/FinalReport/Chapters/S1_Report.pdf
!/Reports/FinalReport/Chapters/S2_Report.pdf
!/Reports/FinalReport/Chapters/S3_Report.pdf

#Directories
*/slprj
*/R201*
slprj/
